.container {
    .main-content {
        .jumbotron-section {
            img {
                width: 100%;
                object-fit: cover;
            }
            h1 {
                position: absolute;
                bottom: 348px;
                left: 217px;
                font-size: 6rem;
                font-weight: bold;
                color: white;
                span {
                    display: block;
                }
            }
        }
    }
}