.container {
    header {
        display: flex;
        justify-content: space-between;
        vertical-align: baseline;
        height: 5vh;
        background-color: #95A7B1;
        padding-top: 1vh;
        padding-bottom: 1vh;
        padding-left: 8vw;
        padding-right: 8vw;
        img {
            object-fit: contain;
        }
        h2 {
            font-size: 2.5rem;
            font-weight: bold;
            color: white;
        }
    }
    @media (max-width: 480px) {
        header {
            padding-left: 4vw;
            padding-right: 4vw;
        }
    }
}

.dropdown-stuff {
    z-index: 2;
    position: absolute;
    overflow: hidden; 
    height: 95vh;
    width: 100vw;
    cursor: pointer;
    background-color: #95A7B1;
    opacity: 0.95;
    left: 0;
    bottom: 0;
    .dropdown-content {
        padding-top: 15vh;
        .dropdown-link {
            display: flex;
            flex-direction: column;
            width: 13%;
            font-size: 5rem;
            font-weight: bold;
            text-decoration: none;
            color: #FFFFFF;
            padding-bottom: 3rem;
            margin: 0 auto;
            text-align: left;
            &:hover {
                color: #222222;
            }
        }
        @media (max-width: 480px) {
            .dropdown-link {
                width: 40%;
            }
        }
    }
}

.dropdown-hidden {
    display: none;
}